.loading-message {
    text-align: center;
    color: black;
}

.products-container {
    padding: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-card-container {
    display: flex;
    align-items: stretch;
}

.product-card {
    background-color: rgb(98, 78, 136);;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.product-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    justify-content: space-between;
}

.product-info {
    margin-bottom: 10px;
    color: white;
}

.product-title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: -5px;
}

.product-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-price {
    margin-top: 5px;
}

.product-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.product-image {
    max-height: 100px;
    max-width: 100%;
    border-radius: 4px;
}

.product-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.delete-button {
    background-color: rgb(124, 68, 79);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

.edit-button {
    background-color: rgb(230, 217, 162);
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: rgb(230, 217, 162);
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.page-number {
    color: black;
    font-weight: bold;
    margin: 0 10px;
    align-self: center;
}