@typeparam T

<div class="dropdown">
    <div class="dropdown-toggle" @onclick="ToggleDropdown">
        @if (SelectedOption == null)
        {
            <span>All</span>
        }
        else
        {
            <span>@SelectedOption</span>
        }
    </div>
    @if (_showDropdown)
    {
        <div class="dropdown-content">
            <div class="dropdown-item" @onclick="() => OnSelectedOptionChanged(default)">
                All
            </div>
            @foreach (var option in Options)
            {
                <div class="dropdown-item" @onclick="() => OnSelectedOptionChanged(option)">
                    @option
                </div>
            }
        </div>
    }
</div>