@typeparam T

<div class="dropdown">
    <div class="dropdown-toggle @(_showDropdown ? "dropdown-toggle-open" : "dropdown-toggle-close")" @onclick="ToggleDropdown">
        @if (SelectedOption == null)
        {
            <span>Select product type</span>
        }
        else
        {
            <span>@SelectedOption</span>
        }
        <span class="dropdown-arrow @(_showDropdown ? "rotate-down" : "rotate-up")"></span>
    </div>
    @if (_showDropdown)
    {
        <div class="dropdown-content">
            @foreach (var option in Options)
            {
                <div class="@(IsSelectedOption(option) ? "selected-dropdown-item" : "dropdown-item")"
                     @onclick="() => OnSelectedOptionChanged(option)">
                    @option
                </div>
            }
        </div>
    }
</div>