.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-toggle {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-items: center;
    min-width: 100px;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    min-width: 100%;
}

.dropdown-item {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(240, 240, 240);
}
