.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 200px;
}

.dropdown-toggle {
    background-color: rgb(230, 217, 162);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.dropdown-toggle-close {
    border-radius: 15px;
    border: 1px solid black;
}

.dropdown-toggle-open {
    border-radius: 15px 15px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid solid none solid;
}

.dropdown-content {
    padding: 10px;
    border-width: 0 1px 1px 1px;
    border-style: none solid solid solid;
    border-radius: 0 0 15px 15px;
    position: absolute;
    background-color: rgb(241, 229, 209);
    width: 200px;
}

.dropdown-item, .selected-dropdown-item {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.selected-dropdown-item {
    background-color: rgb(230, 217, 162);
}

.dropdown-item:hover {
    background-color: rgb(219, 181, 181);
}

.selected-dropdown-item:hover {
    background-color: rgb(207, 195, 146);
}

.dropdown-arrow {
    margin-left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transition: transform 0.3s ease;
}

.dropdown-arrow.rotate-down {
    transform: rotate(0deg);
}

.dropdown-arrow.rotate-up {
    transform: rotate(180deg);
}