@typeparam T

<select @onchange="OnSelectedOptionChanged">
    <option value="" selected>All</option>
    @foreach (var option in Options)
    {
        <option value="@option">@option</option>
    }
</select>