@if (IsOpen)
{
    <div class="modal-backdrop">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Information</h5>
                </div>
                <div class="modal-body">
                    <p>@Message</p>
                </div>
                <button type="button" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
}