@page "/login"

<div class="form">
    <div class="bg">
        <EditForm Model="@LoginDto" OnValidSubmit="HandleLoginAsync">
            <DataAnnotationsValidator/>
            <div class="form-comp">
                <div class="title">
                    Login
                </div>
                <div class="body">
                    <div class="input-group">
                        <label for="email">Email</label>
                        <InputText id="email" @bind-Value="LoginDto.Email"/>
                        <ValidationMessage class="validation-message" For="() => LoginDto.Email"/>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <InputText id="password" type="password" @bind-Value="LoginDto.Password"/>
                        <ValidationMessage class="validation-message" For="() => LoginDto.Password"/>
                    </div>
                </div>

                <div class="btn-holder">
                    <button class="btn" type="submit">Login</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>