.card {
    display: flex;
    flex-direction: column;
    max-height: 280px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.text {
    color: white;
    font-weight: bold;
}

.desc-2row {
    line-height: 1.5rem;
    height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
