@inherits LayoutComponentBase

<div class="page">
    <div class="layout">
        <div class="sidebar">
            <Sidebar/>
        </div>
        <div class="content-data">
            @Body
        </div>
    </div>
</div>