.page {
    background-color: rgb(170, 140, 205);
    padding: 10px;
}

.sidebar {
    background-color: rgb(98, 78, 136);
    border-radius: 15px;
    width: 20%;
    position: sticky;
    height: calc(100vh - 20px);
}

.content-data {
    border-radius: 15px;
    padding-left: 10px;
    width: 80%;
}
