@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="logout">
                        <button class="button button-normal">Logout</button>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="login">
                        <button class="button button-normal">Login</button>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
