.page {
    background-color: rgb(170, 140, 205);
    margin: -8px;
}

.layout {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    height: 100vh;
}

.content-data {
    width: 80%;
}
