<div class="background">
    <div class="title-box">
        <span class="title-text" @onclick='() => NavigationManager.NavigateTo("/")'>
            Admin Panel
        </span>
    </div>
    <div class="content-data">
        <div class="navigation">
            <span class="navigation-btn" @onclick='() => NavigationManager.NavigateTo("/")'>
                <span class="bi bi-house-door-fill-nav-menu"></span>
                Home
            </span>
            <span class="navigation-btn" @onclick='() => NavigationManager.NavigateTo("/products")'>
                <span class="bi bi-list-nested-nav-menu"></span>
                Products
            </span>
            <span class="navigation-btn" @onclick='() => NavigationManager.NavigateTo("/create-product")'>
                <span class="bi bi-plus-square-fill-nav-menu"></span>
                Create new
            </span>
        </div>
        <div class="auth">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="logout">
                        <button class="auth-btn">Logout</button>
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    @if (!_isOnLoginPage)
                    {
                        <button class="auth-btn" @onclick='() => NavigationManager.NavigateTo("/login")'>Login</button>
                    }
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>