@page "/"

<PageTitle>Home</PageTitle>

<div class="auth-status">
    <AuthorizeView>
        <Authorized>
            <span class="auth-succ">
                You are authorized and can manage products.
            </span>
        </Authorized>
        <NotAuthorized>
            <span class="auth-dang">
                You are not authorized. Proceed to login page.
            </span>
        </NotAuthorized>
    </AuthorizeView>
</div>