.auth-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    font-size: 2rem;
}

.auth-success {
    text-decoration: underline darkgreen;
}

.auth-danger {
    text-decoration: underline darkred;
}